.App {
  text-align: left;
  text-shadow: 1px 1px 2px rgba(40, 39, 39, 0.69);
}

.App-header {
  padding: 30px;
  background-color: #282c34;
  min-height: 100vh;

  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: rgba(58, 56, 56, 0.64);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
table {
  border: 2px solid forestgreen;
  width: 600px;
  height: 50px;
  font-size: 12px;
}

th {
  border: 1px solid black;
  padding: 5px;
}

td {
  padding: 1px;
  border: 1px solid black;
  text-align: center;
}
/*
.tasks-list {
  width: 300px;
  border: 2px solid;
  border-radius: 10px;
  size:100px;
  background-color: rgb(222, 222, 22);
  justify-content: center;
  box-shadow: 4px 4px 10px rgb(0, 0, 0); !* Тень: горизонтальное смещение, вертикальное смещение, размытие, цвет *!
  margin: 5px;
  padding: 10px;
}
*/
